#playing-field
{
    /*width: 200px;
    height: 200px; */
    background-color: rgb(97, 97, 97);
    margin: 60px;
}
#playing-field tr td {
    width: 85px;
    height: 85px;
    padding: 0;
    border: none;
    border-spacing: 0;
}
.cell {
    background-color: rgb(97, 97, 97);
}
.head {
    background-color: rgb(221, 221, 221);
}